*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


body{
    background-image: url(images/backgroundsell.jpeg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}

.settings img{
    height: 47px;
    width: 48px;
    border-radius: 50%;

    margin-top: 3px;
    border: blue solid;
    


}
.logo{
    height: 57px;
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 600px;

}
.settings img:hover{
    border: 3px black solid;
}
#navbar{
    border: solid black 2px;
    display: flex;
    align-items: center;
    
}
.link{
    width: 741px;
}

.item{
    list-style: none;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 2;
    color: black;
    border: grey 3px solid;
    border-radius: 15px;
}
.table{
    /* border: grey 2px solid; */
    margin:0 auto;
   
}
.form{
    margin:0 auto;
    margin-top:20px;
    background-color: white; 
    border: 3px grey solid;
    width: 50%;
    border-radius: 15px;
}
.item:hover{
    background-color: rgb(193, 186, 186);
}
.post{
    
    margin-left: 230px;
    padding: 20px;
}
.heading{
    margin:auto;
}
