body{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.signup{
    border: 1px solid grey;
    max-width: 20vw;
    border-radius: 10px;
    text-align: center;
    padding: 30px 30px;
    margin: auto;
    align-items: center;
}

.logo{
    padding: 10px;
}
.inputs{
    width: 85%;
    height: 25px;
}
.inputholder{
    padding: 5px;
}
#button{
    background-color: rgb(0, 166, 255);
    border: none; 
    color: white; 
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    height: 35px;
    width: 250px;
    opacity: 0.6;
    transition: 0.3s;
    justify-content: center;
}

#button:hover {opacity: 1;}
